<div class="spinner-container"  *ngIf="isLoading">
    <mat-spinner diameter="48" id="my-spinner"></mat-spinner>
  </div>
  

<div class="container">
    <div class="title" #targetDiv>Adv views</div>
    <div class="counter">{{counterInput}}</div>
    <img class="image" src="./../../../assets/barilla.jpg" alt="image" />
  </div>

  <div class="container top">
    <div class="small-title">Contract Budget (WEI - Ξ)</div>
    <div class="counter-small">{{companyFund}}</div>
  </div>
  <div class="container">
    <div class="small-title">Advertisement Budget(WEI - Ξ)</div>
    <div class="counter-small">{{marketingFund}}</div>
  </div>


<div class="card-container">
    <button class="card card-small" (click)="navigate()" tabindex="0">
        <mat-icon>arrow_back</mat-icon>
        <span>Back home</span>
    </button>
</div>